body {
	background-color: black;
	border-color: red;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	margin: 15px;
	color: red;
	text-align: center;
	float: left;
	overflow: inherit;


}

img {
	width: 50%;
	border: 10px solid;
	border-color: tan;
	border-style: outset;
	float: left;
}

.htmlList {
	background-color: #09e21e;
	color: black;
	text-align: left;
	border-radius: 20px;
	float: none;
	margin: 5%;
	padding: 10px;
	font-weight: bold;
}

.info {
	text-align: justify;
	font-family: monospace;
	color: white;

}

.finePrint {
	color: yellow;
	font-size: 12px;
	font-style: itallic;
}
